<%= form_for @term do |f| -%>


  <div class="field">
    <%= f.label :phrase, "Termin" %><br>
    <%= f.text_field :phrase %>
  </div>

  <div class="field">
    <%= f.label :explanation, "Znaczenie" %><br>
    <%= f.cktext_area :explanation, :class => 'ckeditor' %>
  </div>

  <%= f.submit "Dodaj termin" -%>

<% end %>
