<div class="content_other">
  <div class="contact post">
    <h3><%= @post.title %></h3>
    <%= simple_format(@post.content) %>
    <% if admin_signed_in? %>
      <div class="admin_post">
        <span class="edit"><%= link_to "Edit", edit_post_path(@post) %></span>
        <span class="delete"><%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %></span>
      </div>
    <% end %>
    <%= link_to "Powrót", posts_path %>
  </div>
</div>
