<!DOCTYPE html>
<html>
<head>
  <title>Uekleksykon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :application, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>
      <div class="content_other">
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "flash #{key}" %>
        <% end %>
      </div>
      <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
<div id="preloadedImages"></div>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>
<script>
      MathJax.Hub.Typeset();
</script>
</html>
